:root {
  --section-overlay: rgba(0, 0, 0, 0.7);
  --background-overlay: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
}

.container {
  max-width: 800px;
  margin: auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}

.section {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
}

/* Inputs */

.section__temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  border: 1px solid white;
  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 200;
}

input::placeholder {
  color: wheat;
}

button {
  font-size: 20px;
  font-weight: 800;
  border: 1px solid white;
  border-radius: 0.4rem;
  padding: 0.5rem 1.5rem;
  background-color: white;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
  background-color: beige;
}

/* Description */

.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.temperature > h3 {
  text-transform: capitalize;
}

img {
  max-width: 50%;
  max-height: 50%;
}

/* Details Section */
.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.details > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.icon {
  font-size: large;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  input {
    font-size: 25px;
  }

  button {
    font-size: 14px;
    color: black;
  }

  .temperature > h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0.2rem;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 12px;
  }

  .temperature > h3 {
    font-size: 20px;
  }

  img {
    max-width: 80%;
    max-height: 80%;
  }

  .details > div {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .icon {
    font-size: medium;
  }
}
